<div class="BG_Style" >
  <div class="Full_News">
    <img class="Secondary_News_Img" [src]="news.secondaryImage || news.mainImage">

    <div class="Secondary_Flex_Container">
      <div class="Secondary_Header">{{news.secondaryHeader || news.mainHeader}}</div>
      <div class="Secondary_Text">{{news.secondaryText || news.mainText}}</div>
    </div>

    <div class='Author_Flex_Container'>
      <div class='AuthorText'>Автор: {{news.author}}</div>
      <div class='Date'>{{news.date}}</div>
    </div>
  </div>
</div>
