{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""  />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
<script src="{%static 'map/js/RGBDistance.js'%}"></script>
<script src="{%static 'map/js/ShortestWay.js'%}"></script>
<script src="{% static 'map/js/functions.js' %}"></script>
<link rel="stylesheet" href="{% static 'map/css/header.css' %}" >
    <script>

    // Добавления данных из bd в переменные
    let Cities = [];
    {% for el in cities %}
    Cities.push(["{{ el.coordinates }}", "{{ el.name }}", "{{ el.icon.url }}"]);
    {% endfor %}
      let Road=[];
    {% for el in roads %}
    Road.push(["{{ el.coordinates }}", "{{ el.name }}"]);
    {% endfor %}
    let Characters=[];
    {% for el in characters %}
     Characters.push("{{ el.name }}","{{ el.location }}");
    {%  endfor%}
    let News=[];
    {% for el in news%}
    News.push( {mainHeader: "{{el.Header}}", secondaryHeader: "{{el.Header2}}",mainText:"{{el.Body}}", secondaryText:"{{el.Body2}}",
        mainImage:"{{ el.GeneralImage.url }}",   secondaryImage:"{{el.SecondaryImage}}",date: "{{ el.date}}",author:"{{ el.Author }}"});
    {% endfor %}
</script>


</head>

<body id="body">

    <header class="Header">
        <div id="app"></div>
        <button class="News-btn" onclick="togglePanel()">
            <img class="News-img" src="{%static 'map/img/news.png' %}" alt="News">
        </button>
        <div class="search-form">
        <input type="text" id="search-box" class="search-form_txt" placeholder="Введите название"  oninput="suggestCities()" on="moveToCity()" >

          <button class="search-form-btn" onclick="moveToCity()">
              <img class="search-form_image" src="{%static 'map/img/search.png' %}" alt="image">
          </button>

        </div>
         <div id="suggestions" class="suggestions"></div>
    </header>


    <aside id="panel" class="news-panel"></aside>
    <div id="map"></div>

</body>
</html>
<script>
function addNews(News) {
    let panel=  document.getElementById("panel");
    let list =document.createElement("ul");
    list.className="News_container";

    let MainHeader;
    let MainText;
    let MainImage;
    let AllTextFields;
    let overlay;
    let counter=0;
  for (let el of News) {
    let one_News = document.createElement("li");
    one_News.className = "News_Style";
    one_News.id = counter;
    MainHeader = document.createElement("div");
    MainHeader.className = "Main_Header";
    MainHeader.innerText = el.mainHeader;
    MainText = document.createElement("div");
    MainText.className = "Main_Text";
    MainText.innerText = el.mainText;
    MainImage = document.createElement("img");
    MainImage.className = "Main_News_Image";
    MainImage.src = el.mainImage;
    AllTextFields = document.createElement("div");
    AllTextFields.className = "News_Flex_Container";
    overlay = document.createElement("div");
    overlay.className = "overlay";
    AllTextFields.appendChild(MainHeader);
    AllTextFields.appendChild(MainText);
    one_News.appendChild(MainImage);
    one_News.appendChild(AllTextFields);
    one_News.appendChild(overlay);
    list.appendChild(one_News);

    // Создаем область видимости для каждой итерации цикла
    (function(id) {
        one_News.addEventListener("click", function() {
            OpenNews(id, News);
        });
    })(counter);

    counter++;
}

    panel.appendChild(list);
}
addNews(News);
 document.getElementById('search-box').addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
        moveToCity();
    }
});

   let map = L.map('map', {
    crs: L.CRS.Simple, zoomControl: false, attributionControl:false}, );
    let bounds = [[0,0], [1061,1587]];
    let image = L.imageOverlay("{% static 'map/img/Test2.jpg'%}" , bounds).addTo(map);
    map.fitBounds(bounds);
    map.setMaxBounds(bounds);
    map.maxBounds = bounds;
    map.maxBoundsViscosity=1000.0;
    map.setMaxZoom(5);
    map.setMinZoom(1);
    map.setView([0, 0], 1);



    let wheelIcon = L.icon({
    iconUrl: 0,
    iconSize:     [35, 45],
    iconAnchor:   [17.5, 45],
    popupAnchor:  [-3, -46]
});
    CreateAndDrawCities(Cities,wheelIcon);
let Roads=[];
map.eachLayer(function(layer) {
    if (layer instanceof L.Marker) {
        layer.on('click', function(e) {
            let lat = e.latlng.lat;
            let lng = e.latlng.lng;

            coordinatesArray.push([lng, lat]);

            console.log(JSON.stringify(coordinatesArray));

            if (coordinatesArray.length === 2) {
                Road99.start = Road99.pointCoordinatesSwap(coordinatesArray[0]);
                Road99.end = Road99.pointCoordinatesSwap(coordinatesArray[1]);
                console.log(Road99.GetShortestRoad());
                Road99.RedRoad();
                coordinatesArray.length = 0;
            }
        });
    }
});
CreateAndDrawRoads(Road,Roads);

 let coordinatesArray=[];
 const Road99 = new ShortestWay(Roads,0,0);




</script>
