.ImageBox{
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 5px;
}
#character-image
{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняет соотношение сторон и увеличивает размер изображения, чтобы оно полностью заполняло родительский контейнер */ /* Позволяет изображению быть абсолютно позиционированным внутри родительского контейнера */
    top: 0; /* Располагает изображение вверху родительского контейнера */
    left: 0; /* Располагает изображение влево родительского контейнера */
    border-radius: 10px;
}