input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
form{
    margin-left: 30%;
    width: 500px;
    margin-top: 50px ;
}
.headSheet{
    width: 890px;
    height: 100px;
    display: flex;
    margin: auto;
}
.rightHeadSheet
{
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.leftHeadSheet
{
    padding: 5px;
    margin: auto;
    flex-basis: 33% ;
}
.mainSheet
{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}