.staticstiq
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.armor
{
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}
#shield-image
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.arinsp
{
    justify-content: space-around;
    display: flex;
    width: 296px;
}
.maxhit
{
    display: flex;
    width: 273px;
}
.initiative
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.initIndex
{
    margin-left: 3px;
    width: 76px;
    height: 76px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 50px;
    outline: none;
}
.initIndextext
{
    width: 80px;
    height: 50px;
    margin-top: 10px;
    margin-left: -1px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    outline: none;
}
.currenhit
{
    padding: 5px;
    width: 282px;
   border-radius: 20px;
    border: 2px solid black;
}
.speedIndexa
{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 50px;
    outline: none;
}
.speedIndex{
    margin-left: 4px;
    width: 80px;
    height: 80px;
}
.speed
{
    width: 88px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.temporalhit
{
    width: 292px;
    height: 106px;
    border-radius: 20px;
    border: 2px solid black;
}
.diceanddeath
{
    display: flex;
    justify-content: space-around;
}
.vsego
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}
.dicechose
{
    border-radius: 20px;
    border: 2px solid black;
    width: 104px;
    height: 104px;
    font-size: 15px;
}
.deathimage
{
    width: 13px;
    height: 13px;
}
.secses
{
      margin-top: 5px;
}
.failer
{
}
.tempHitIndex
{
    height: 86px;
}
.deathsavingthrow
{
    width: 104px;
    height: 104px;
    border-radius: 20px;
    border: 2px solid black;

    align-items: center;
    text-align: center;
}
.savtext
{
    font-size: 10px;
}
.otst
{
    margin-bottom: 5px;
}
.equipment
{
    margin-top: 25px;
    border-radius: 20px;
    border: 2px solid black;
}
.coins
{
    margin-top: -20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.atack-wrapper {
    margin-left: -1px;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    box-sizing: border-box; /* новое */
}
.InputFieldStyle
{
    width: 97px;
}