.Header {
    background-color: #FFB74B;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 950; /* Ниже, чем у .CitiesContainer и .suggestions, чтобы они были поверх Header */
    flex-wrap: nowrap;
  display: flex;
    align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px ;
}
.flex{
width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
  width: 95%;
  height: 95%;
  object-fit: cover;
}
.imageButton{
  position: relative;
  width: 8vh;
  height: 8vh;
  border: 0.2vw solid black;
    border-radius: 50%;
  background-color: transparent;
}
  .search-form {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 300px;
    border-radius: 50px;

    background-color: white;
    border: 3px solid #FF9900;
    z-index: 951; /* Убедитесь, что .search-form находится над Header */
}

.CitiesContainer {
    position: absolute;
    z-index: 952; /* Значение должно быть выше, чем у .search-form для видимости поверх остальных элементов */
    width: 100%; /* Или конкретная ширина в пикселях, если требуется */
    /* Дополнительные стили для позиционирования и отображения, если нужно */
}

.suggestions {
    margin-top: -15px;
    position: absolute;
    top: 100%;

    box-sizing: border-box;
    width:250px;
    left:25px;
    background-color: white;
    cursor: pointer;
    padding-left: 5px;
    border-top: none;

}

.suggestions:hover {
    background-color: #f0f0f0;
}


.search-form_txt {
    border: none;
    padding-left: 15px;
    border-radius: 50px;
    height: 50px;
    width: 300px;
    outline: none;
    font-size: 20px;
    background-color: white;
  font-family: "Times New Roman",  sans-serif;
}

.hint {
  white-space: pre;
    outline: none;
    border: none;
    padding-top:13.5px;
    position: absolute;
    cursor: pointer;
    Width:150px;
    Height:36.5px;
    font-family: "Times New Roman",  sans-serif;
    font-size: 20px;
    color: #999;
}
hint:hover
{
  color: black;
}


.search-form_txt + .hint {
    padding-left: 0;
}



.News-btn
{
  text-align: center;
   font-size: 1.5vw;
    background-color: transparent;
    border: none;
    border-radius: 10px;
      transition: color 200ms ease-in-out, font-size 200ms ease-in-out;
}
.News-btn:hover
{
    color: #FFFFFF;
}
.News-btn:active
{
    color: #e0e0e0;
}

.News-img
{
    margin-top:-2px;
    width:50px;
    height:50px;
}
