<p>charecter-header works!</p>
<div class="headSheet">
                    <div class="leftHeadSheet">
                        <label>ИМЯ ПЕРСОНАЖА</label>
                    </div>
                    <div class="rightHeadSheet">
                        <div class="headContent characterClass">
                            <label>КЛАСС</label>
                        </div>
                        <div class="headContent characterBackstory">
                            <label>ПРЕДЫСТОРИЯ</label>
                        </div>
                        <div class="headContent characterRace">
                            <label>РАСА</label>
                        </div>
                        <div class="headContent worldviews">
                            <label>МИРОВОЗРЕНИЕ</label>
                        </div>
                        <div class="headContent experience">
                            <label>ОПЫТ</label>
                        </div>
                        <div class="headContent level">
                            <label>УРОВЕНЬ</label>
                        </div>

                    </div>
                </div>
