<form [formGroup]="headForm" (ngSubmit)="SubmitForm()">
<div class="headSheet">
  <div class="leftHeadSheet">
  <input formControlName="name" class="nameText" id="name" type="text" maxlength="50" >
  <label>ИМЯ ПЕРСОНАЖА</label>
</div>

<div class="rightHeadSheet">
  <div *ngFor="let text of headText; let i = index">
    <app-head-content [text]="text" [id]="headId[i]"></app-head-content>
  </div>
  <div>
  <input class="headContent test" formControlName="level" (change)="onChange()" id="level"  maxlength="20">
    <label>УРОВЕНЬ</label>
  </div>
</div>

</div>

</form>

