<div class="savingthrow">
  <div class="bollen">
    <div class="wrapper savingthrow-wrapper">
      <img [src]="currentImage" class="savingthrow-image">
      <input type="checkbox" id="{{abilitybutton}}" class="savingthrow-button" (click)="toggleImage()">
    </div>
  </div>
<ng-container *ngIf="toggle; then thenBlock else elseBlock"></ng-container>


<ng-template #thenBlock>
  <div class="stindex">{{calculateSavingThrow}}</div>

</ng-template>

<ng-template #elseBlock>
       <div class="stindex">{{abilityIndex}}</div>
</ng-template>

  <div class="sttext">{{ text}}</div>
</div>


