.Header {
    background-color: #FFB74B;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 950; /* Ниже, чем у .CitiesContainer и .suggestions, чтобы они были поверх Header */
    flex-wrap: nowrap;
  display: flex;
    align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px ;
}
.flex{
width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Head{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
  width: 60vw;
  display: flex;
  padding: 10px;
}
