.Header {
    background-color: #FFB74B;
    width: 100%;
    height: 9vh;
    top: 0;
    z-index: 950;
    flex-wrap: nowrap;
  display: flex;
    align-items: center;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh ;
}
.flex{
width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.charactersList{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.container
{
  margin-top: 2vh;
  display: flex;

  height: 100%;
  flex-wrap: wrap;
  width: 68vw;
  gap: 1vw;

}
