<div class="three personalTraits" [style.width.px]="boxWidth" [style.border]="border" [style.border-radius.px]="borderRadius" [style.height.px]="boxHeight" >

  <label *ngIf="topText!=''">{{topText}}</label>
  <div  (mouseup)="onTextSelect($event)" #inputField class="inputField" [style.width.px]="inputWidth" [style.height.px]="inputHeight" contenteditable="true" appClickableLinks>

  </div>
  <div *ngIf="isContextMenuVisible"   [ngStyle]="{ 'top': contextMenuPosition.y + 'px', 'left': contextMenuPosition.x + 'px'}" class="context-menu">
    <input type="text" class="linkInput" [(ngModel)]="currentLink" #urlInput placeholder="Введите URL">
    <button class="linkBtn" (click)="addLink(urlInput.value); urlInput.value=''">Добавить ссылку</button>
  </div>
  <label *ngIf="botText!=''">{{botText}}</label>
</div>
