.image{
  width: 7vh;
  height: 7vh;
  object-fit: cover;
    border: 0.2vw solid black;
    border-radius: 50%;
}
.imageButton{
  position: relative;
  width: 7vh;
  height: 7vh;
  border: none;
  background-color: transparent;
  padding: 0;
}


.ActivButton{
  color: #FFFFFF;
}
.News-btn
{
  text-align: center;
   font-size: 3vh;
  min-font-size: 32px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
      transition: color 200ms ease-in-out, font-size 200ms ease-in-out;
}
.News-btn:hover
{
    color: #FFFFFF;
}
.News-btn:active
{
    color: #e0e0e0;
}


