.personal
{
    display: flex;
    flex-wrap: wrap;
    width: 296px;
}
.features
{
  padding: 2px;
  width: 296px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}
.feature
{
  min-width: 292px; max-width: 292px;min-height: 560px; max-height: 560px;border: none;display: block;outline: none;
}

