.personal
{
    display: flex;
    flex-wrap: wrap;
    width: 292px;
}
.features
{
  padding: 2px;
  width: 292px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}
.feature
{
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  width: 288px;
  height: 560px;
  resize: none;
  border: none;display: block;outline: none;
}

