.test
{
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
    width: 190px;
border: none; border-bottom: 1px solid black; display: block;outline: none;
}
label
{
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  color: #838383;
            font-size: 14px;
}
