<div class="container" *ngIf="user">
  <div class="leftColumn">
    <div class="ImageBox">
      <label for="fileInput">
        <img [src]="user.avatar" class="avatar" alt="Image" id="portrait">
      </label>
      <input id="fileInput" type="file" accept="image/*" size="3000000"  (change)="onselectFile($event)" style="display: none;">
    </div>
    <div class="personalData">
      <div class="name">{{user.name}}</div>
      <div class="email">{{user.email}}</div>
      <div class="CharacterCounter"></div>
      <button (click)="togglePanel()" class="button">Удалить аккаунт</button>

    </div>
  </div>
  <div class="rightColumn" [formGroup]="changes">
    <div class="changeContainer">
      <div class="header">Сменить имя</div>
      <input class="input" formControlName="login">
      <div class="button" (click)="changeNick()"><span class="button-text">Применить</span></div>
    </div>
     <div class="changeContainer">
      <div class="header"> Сменить почту</div>
      <input class="input"  formControlName="email">
      <div class="button" (click)="changePost()"><span class="button-text">Применить</span></div>
    </div>
     <div class="changeContainerPassword">
      <div class="header">Сменить пароль</div>
      <input class="input" placeholder="Введите старый пароль"  formControlName="oldPassword">
       <input class="input" placeholder="Введите новый пароль"  formControlName="password">
      <div class="button" (click)="changePassword()"><span class="button-text">Применить</span></div>
    </div>
  </div>
</div>
<app-profile-cropper *ngIf="display" (outputImage)="getData($event)" [image]="imageToCrop" (close)="close()"> </app-profile-cropper>
<app-are-you-sure *ngIf="Deldisplay" (close)="close()" ></app-are-you-sure>
