.spellsContainer
{
  width: 900px;
  height:800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.spellsSlotsInput
{
  height: 30px;
  width:30px;
  border:2px solid black;
  border-radius: 100px;
  text-align: center;
  margin-left: -14px;
  outline: none;
}
.spellsSlotsContainer
{
  height: 20px;
  width: 170px;
  display: flex;
  padding-left: 10px;
  border: 2px solid black;
  justify-content: start;
  align-items: center;
  border-left: none ;
  margin-left: -5px;
  gap:5px;
}
.slotsAndCounter
{

  display: flex;
  width:255px;
  height: 30px;
  justify-content: start;
  align-items: center;

}
.spell
{
  margin-top: 5px;
   border-top: 1px solid black ;
  display: flex;
  flex-direction: row;
}
.spellLevel
{
  height: 32px;
  width:50px;
  border:2px solid black;
  border-right:none;
  text-align: center;
  align-content: center;
}
.spellList
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  width:250px;

}
