.button{
  width: 15vw;
  height: 4vw;
  background-color: #FFB74B;
  border: none;
  border-radius: 20px;
  display: flex;
  font-size: 1.5vw;
  justify-content: space-between;
  align-items: center;
  transition: background-color 100ms ease-in-out,transform 100ms ease-in-out;
}
.button:hover{
  background-color: #FFAE35;
}
.button:active
{
    transform: scale(0.95);
}
.img{
  width: 25%;
}
