input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.abillitis
{
    width: 30%;
    height: 675px;
}
.abilliti
{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid black;
}


.formab
{
    margin-top: 6px;
}
.modifier
{
    width: 50px;
    margin: 0 auto;
    font-size: 30px;
}
.InputAttribute
{
    width: 50px;height: 50px;font-size: 25px;border-radius: 30px;border: 2px solid black;align-items: center;margin: 0 auto; display: block;text-align: center;
}
.text
{
    font-size: 1.2em; /* Например, это будет 16px, если базовый размер шрифта равен 16px */
   font-weight: bold;
}
