<app-character-header></app-character-header>
<div class="mainSheet">
  <div class="onemainSheet">
    <app-ability-bar class="abillitis"></app-ability-bar>
    <app-savingThrows-skills-bar style="width: 204px"></app-savingThrows-skills-bar>
    <app-passive-perception style="margin-top: 8px"></app-passive-perception>
    <app-ownership></app-ownership>
  </div>
  <div class="twomainSheet">

      <app-ac-health-speed></app-ac-health-speed>
      <app-current-hits></app-current-hits>
      <app-temporary-hits></app-temporary-hits>
      <app-hit-dice></app-hit-dice>
      <app-attack-spells></app-attack-spells>
      <app-equipment></app-equipment>

  </div>
  <div class="threemainSheet">

    <app-personal-traits-bar></app-personal-traits-bar>
  </div>
</div>
<app-second-character-sheet></app-second-character-sheet>
<app-third-character-shit></app-third-character-shit>
