<app-character-header></app-character-header>
<div class="mainSheet">
  <div class="onemainSheet">
    <app-ability-bar class="abillitis"></app-ability-bar>
    <app-savingThrows-skills-bar></app-savingThrows-skills-bar>
    <app-passive-perception></app-passive-perception>
    <app-ownership></app-ownership>
  </div>
  <div class="twomainSheet">
    <div class="staticstiq">
      <app-ac-health-speed></app-ac-health-speed>
    </div>
  </div>
  <div class="threemainSheet">
    <app-personal-traits-bar></app-personal-traits-bar>
  </div>
</div>
