<div class="container" (click)="openList()">
  <img class="avatar" src="{{avatar}}">
  <div class="dataContainer">
    <div class="CharacterName">{{characterData.name}}</div>
    <div class="textContainer">
      <div class="text">{{characterData.race}} {{characterData.characterClass}} {{characterData.level}} ур.</div>
      <div class="text">Опыт:{{characterData.experience}}/{{getExperience(characterData.level+1)}}</div>
    </div>
    <div class="locationContainer">
      <img class="pointer" src="{{pointer}}">
      <div class="Position">{{characterData.location}}</div>
    </div>
  </div>
</div>
