.container {
  display: flex;
  align-items: center;
  height: 12vh;
  width: 20vw;
  background-color: #FFB74B;
   border-radius: 2vh;
  overflow: hidden;
  justify-content: start;
  transition: background-color 100ms ease-in-out,transform 100ms ease-in-out;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
cursor: pointer;
  gap: 0.5vw;
}
.container:hover{
  background-color: #FFAE35;
}
.container:active
{
    transform: scale(0.95);
}

.avatar {
  height: 12vh;
  width: 12vh;
  border-radius: 2vh;
  object-fit: cover;
  object-position: top;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 13vw;
}

.CharacterName {
  font-size: 2.5vh;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.1vw;
}

.locationContainer {
  display: flex;
  align-items: center;
  align-self: end;
  margin-right:1vw;
  margin-bottom: 0.5vh;
}

.pointer {
  width: 1.2vw;
}

.Position {
  margin-left: 0.1vw;
  font-size: 2vh;
  font-weight: bold;
}
