<div class="diceFlexContainer">
<div class="diceBlock">
  <div>ВСЕГО КОСТЕЙ: {{allDice}}</div>
  <select class="select"[(ngModel)]="selectedItem">
  <option class="choice" *ngFor="let item of items" [value]="item">{{ item }}</option>
</select>
  <div>КОСТИ ХИТОВ</div>
</div>

<div class="diceBlock">
  <div class="columna">
  <label class="header">Успех:</label>
  <div class="pointFlexContainer">
    <app-check-box-circle></app-check-box-circle>
    <app-check-box-circle></app-check-box-circle>
    <app-check-box-circle></app-check-box-circle>
  </div>
    </div>
  <div class="columna">
<label class="header">Провал:</label>
    <div class="pointFlexContainer">
      <app-check-box-circle ></app-check-box-circle>
      <app-check-box-circle></app-check-box-circle>
      <app-check-box-circle></app-check-box-circle>
      </div>
  </div>
  <label class="std">СПАСБРОСОК ОТ СМЕРТИ</label>
</div>
</div>
