

.checkBoxStyle
{
}
.skillindex
{
    width: 26.75px;
    font-size: 18px;
    margin-left: 1px;
  line-height: 15px;
}
.skilltext
{
    text-align: left;
    font-size: 17px;
    margin-left: 3px;
  line-height: 15px;
}
.skill
{
    display: flex;
    flex-wrap: wrap;

}
