

.checkBoxStyle
{
 padding-top: 2px;
}
.skillindex
{
    width: 13px;
    height: 13px;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}
.skilltext
{
    text-align: left;
    height: 13px;
    font-size: 13px;
    margin-left: 15px;
    font-weight: bold;
}
.skill
{
    display: flex;
    flex-wrap: wrap;

}
