/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: Roboto Condensed;
  src: url(assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Helvetica;
  src: url(assets/fonts/Helvetica/helvetica_regular.otf) format('truetype');
}
app-root{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
}
