<header class="Header">


<div class="flex">
    <div *ngIf="map" class="search-form">
       <div class="CitiesContainer" *ngFor="let city of searchedCities; let i = index">
 <app-citis-el-li
  class="suggestions"
  (mousedown)="ignoreBlur = true"
  [ResetFunction]="ResetFocus"
  [ngStyle]="{'margin-top.vw': getMarginTop(i)}"
  [city]="city">
</app-citis-el-li>
</div>
   <input #searchField class="search-form_txt"  placeholder="Введите название города..."
          [(ngModel)]="searchQuery" (click)="suggestCities()" (input)="suggestCities()" (keyup.enter)="moveToCity()" (keydown.tab)="moveToCity()" (blur)="Blur()">
<span class="hint" (mousedown)="ignoreBlur = true"  *ngIf="hint" [ngStyle]="hintMargin" (click)="moveToCity()">{{ hint }} </span>

    </div>
  <button #openButton class="News-btn"  (click)="togglePanel()">
  НОВОСТИ
</button>
  <button class="News-btn" id="lists" [class.ActiveBtn]="isActiveListsButton"  (click)="redirectToCharsheet()"> ЛИСТЫ ПЕРСОНАЖЕЙ</button>
  <button  class="News-btn " [class.ActiveBtn]="isActiveMapButton" (click)="redirectToMap() " id="mapButton" > КАРТА</button>
  <div style="display: flex;
    flex-direction: column;
    align-items: center;">
    <button #avatar  appClickOutside [ignoreElementRefs]="IgnoredElementAvatar"  (clickOutside)="isMenuVisible=false"  *ngIf="userData" (click)="toggleMenu()" class="imageButton">
        <img  class="image" *ngIf="userData.avatar"   [src]="userData.avatar">
      </button>
    <div  *ngIf="isMenuVisible" [@fadeInOut] class="profandexist">
        <button class="News-btn profbutton" (click)="redirectToProfile()">Профиль</button>
        <button class="News-btn profbutton" (click)="onLogout()">Выйти</button>
    </div>
  </div>
</div>



</header>

 <app-news-panel appClickOutside [ignoreElementRefs]="IgnoredElement"  (clickOutside)="closePanel()" [left]="displayLeft" > </app-news-panel>
