<header class="Header">


<div class="flex">
    <div class="search-form">
       <div class="CitiesContainer" *ngFor="let city of searchedCities; let i = index">
  <app-citis-el-li class="suggestions"  (mousedown)="ignoreBlur = true" [ResetFunction]="ResetFocus"  [ngStyle]="{'margin-top.px': 29+18 * i-1}" [city]="city"> </app-citis-el-li>
</div>
   <input #searchField type="text" class="search-form_txt"  placeholder="Введите название города..."
          [(ngModel)]="searchQuery" (click)="suggestCities()" (input)="suggestCities()" (keyup.enter)="moveToCity()" (keydown.tab)="moveToCity()" (blur)="Blur()">
<span class="hint" (mousedown)="ignoreBlur = true"  *ngIf="hint" [ngStyle]="hintMargin" (click)="moveToCity()">{{ hint }} </span>

    </div>
  <button #openButton class="News-btn" (click)="togglePanel()">
  НОВОСТИ
</button>
  <button class="News-btn"  (click)="redirectToCharsheet()"> ЛИСТЫ ПЕРСОНАЖЕЙ</button>
  <button disabled class="News-btn ActivButton" (click)="redirectToMap()"> КАРТА</button>
  <button *ngIf="userData" class="imageButton"><img class="image" [src]="userData.avatar"></button>
</div>
  <app-news-panel appClickOutside [ignoreElementRefs]="IgnoredElement"  (clickOutside)="closePanel()" [left]="displayLeft" > </app-news-panel>

</header>
