.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    transition: opacity 0.2s ease;
    opacity: 50%;
    position: fixed;
    z-index: 801;
}
.Window {
    background: white;
    width: 1000px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    text-align: center;
    transition: opacity 0.2s ease;
    font-size: 10px;
    position: fixed;
    z-index: 1000;
    border: 1px black solid;
    border-radius: 10px;
}
.closeButton
{
  height: 50px;
  margin-top: 20px;
  border: 2px solid black;
}
