<div class="container">
  <div class="background" (click)="onClose()"></div>
  <div class="Window">
  <div class="closeButton" (click)="onClose()">x</div>
   <div class="row">
        <image-cropper class="main" style="padding: 0"
          [imageChangedEvent]="imgChangeEvt"
        [aspectRatio]="4/4"
          [maintainAspectRatio]="true"
        [resizeToWidth]="300"
        format="png"
        (imageCropped)="cropImg($event)"
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()"
        (loadImageFailed)="imgFailed()">
        </image-cropper>
     <div class="imageContainer">
    <img class="prewie" [src]="cropImagePreview" alt="Картинка на листах персонажа">

       </div>
   </div>
  </div>
</div>
