<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лист персонажа</title>
    <link rel="stylesheet" href="style.css"> <!-- Подключение CSS-файла -->
</head>
<body>
    <div class="character-sheet">
        <form>
            <div class="characterName">
                <label for="characterName">Имя персонажа:</label>
                <input type="text" id="characterName" name="characterName">
            </div>
        </form>
    </div>

    <script src="script.js"></script> <!-- Подключение JavaScript-файла -->
</body>
</html>