.per
{
  resize: none;
  width: 286px;
  height: 90px;
  border: none;
  display: block;
  outline: none;
  background-color: transparent;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
}
.three
{
  padding: 2px;
    margin-bottom: 5px;
    width: 290px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
