.per
{
    min-width: 292px; max-width: 292px;min-height: 90px; max-height: 90px;border: none;display: block;outline: none;
}
.three
{
    margin-bottom: 5px;
    padding: 2px;
    width: 296px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
