.equipmentFlexContainer
{
  height: 336px;
  width: 292px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-top:20px;
}
.equipmentInput
{
  height:250px;
  width: 270px;
  border-radius: 20px;
  resize: none;
}
.coinsFlexContainer
{
  position: absolute;
  display:flex;
  width: 296px;
  flex-direction: row;
  justify-content: space-around;

}
