
#map
{
  margin-top: 3vh;
  overflow: hidden;
  Width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 940;
}
.city
{
  display: flex;
  flex-direction: column;

}
.sideContainer {
  position: fixed;
  top: 13vh;
  width: 20.8vw;
  height: 79.25vh;
  background-color: #FFB74B;
  border-radius: 1vw;
  z-index: 940;
  transition: transform 300ms;

}
.cityPhoto
{
  width: 20.8vw;
  height: 25vh;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  object-fit: cover;
}
.cityName
{
  font-size: 1.68vw;
  margin-left: 1.21vw;

  text-align: start;
}
.cityRegion
{
  color:#3C3C3C;
  font-size: 1vw;
  margin-left: 1.21vw;

  text-align: start;
}
.cityDescription
{
  font-size: 1vw;
  width: 18.38vw;
  margin-top: 1.5vh;
  align-self: center;
  text-align: start;
  max-height: 25vh;
  overflow: hidden;
    text-overflow: ellipsis;
}
.continue
{
margin-top: 1.5vh;
  align-self: center;
  width: 13.8vw;
  background-color:#2D8DFF ;
  font-size: 1.3vw;
  color: white;
  border-radius: 1vw;
  border: none;
  height: 4.5vh;
  padding: 0;
  transition: scale 200ms, background-color 200ms;
}
.continue:hover
{
  background-color: #2587ff;
}
.continue:active
{
  scale: 0.97;
}
.confirmWay
{
 display: flex;
  flex-direction: column;
  align-items: center;
}
.flexi{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text
{
  text-align: center;
  font-size: 1.25vw;
  color: black;
  overflow: hidden;
}
.characterAvatar
{

  height: 8.28vw;
  width: 8.28vw;
  margin-top: 1.2vh;
  border-radius: 0.7vw;
  object-fit: cover;
  object-position: top;
}
.overlay {
  position: absolute;
  margin-top: 1.2vh;
  border-radius: 0.7vw;
  top: 0;
  left: 0;
  height: 8.28vw;
  width: 8.28vw;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}
.image-container {
  position: relative;
  display: inline-block;
}
.selectCharacter
{
  width: 57.65vw;
  height: 69.8vh;
  position: fixed;
  left: 21.2vw;
  top: 15.2vh;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
    align-items: center;
  justify-content: center;
  background-color:#FFE8C6 ;
  border-radius: 2vw;
  z-index: 1003;
  box-shadow: 0 0.2vh rgba(0, 0, 0, 0.25);


}
.overflow
{
   width: 11.875vw;
  overflow: hidden;
}
.background
{
  top:0;
  left:0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  background-color: black;
  opacity: 20%;
}


.character:hover .overlay {
  opacity: 1;
}
.flexi:hover .overlay {
  opacity: 1;
}

.character
{
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 11.875vw;
  height: 22.3vh;
  cursor: pointer;
  }
.characterContainer
{
  width: 52vw;
  height: 57.7vh;
  overflow: scroll;
    flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5vw;
  display: flex;
}
.characterContainer::-webkit-scrollbar
{
   display: none;
}
.chooseTransport {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  width: 17vw;
  gap:0.2vw;
  background-color: #FFF0D9;
  border-radius: 0.5vw;
  position: relative;
}

.chooseTransport img {
  background: transparent;
  width: 2.66vw;
  height: 2.66vw;
  transition: background 0.5s;
  cursor: pointer;
  z-index: 1000;

}



.chooseTransport .highlight {
  position: absolute;
  left: 0;
  width: 2.66vw;
  height: 2.66vw;
  background: #FFD698;
  border-radius: 0.5vw;
  transition: left 0.3s;
  pointer-events: none;
}
.distanceContainer
{
  margin-top: 1vw;
  background-color:#FFD698;
  width: 16.04vw;
  height: 19.9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1vh;

}
.road
{
  width: 1vw;
  height: 17.3vh;
}
.distance
{
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13vw;
  height: 17.9vh;
  background-color: transparent;
}
.distanceText
{
  text-align: center;
  font-size: 1.5vw;
}
.cityTarget
{
  text-align: center;
  font-size: 1.5vw;

}
.confirmButton
{
  border: none;
  padding: 0;
  text-align: center;
  width: 12vw;
  background-color: #2D8DFF;
  border-radius: 2vw;
  margin-top: 1vw;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 2vw;
  transition: scale 200ms, background-color 200ms;
}
.confirmButton:hover
{
  background-color: #2587ff;
}
.confirmButton:active
{
  scale: 0.97;
}
.textArrived
{
    text-align: center;
  font-size: 1.25vw;
  color: black;
  margin-top: 1.2vh;
 height: 3.75vw;
}
.roadsSwitcher
{
  display: flex;
  width: 7.91vw;
  height: 6.48vh;
  background-color: #D9D9D9;
  border-radius: 2vw;
  justify-content: space-evenly;
  position: fixed;
  z-index: 945;
  align-items: center;
  right: 2vw;
  top: 10vh;
}
.switchImg
{
  width: 2.29vw;
  height: 2.29vw;

}
.switchBG
{ display: flex;
  justify-content: center;
  align-items: center;
   width: 2.8vw;
  height: 2.8vw;
  border-radius: 10vw;
  cursor: pointer;
}

.activeSwitch {
  background-color: rgba(255, 0, 0, 50%);
}
.inactiveSwitch {
  background-color: transparent;
}

.imgCheckBox
{
  width: 1.7vw;
  height: 1.7vw;

}
.checkBox
{
  display: flex;
  justify-content: center;
  width: 16.04vw;
  gap: 0.3vw;
  height: 3vh;
  cursor: pointer;
  margin-top: 1vw;
}
.textCheckBox
{
  font-size: 1.5vw;
}
.speedInput
{
  margin-top: 1vh;
  border: none;
  outline: none;
  padding: 0;
  text-align: center;
 background-color: #FFD698;
  width: 12.34vw;
  height: 4vh;
  font-size: 3vh;
  border-radius: 2vw;

}
.speedInput::placeholder
{
  color:black;
  text-align: center;
  font-size: 2vh;
  align-items: center;
  padding: 0;
  vertical-align: middle;
}
.select
{
   width: 16.04vw;
  margin-top: 1vh;
  height: 4vh;
  font-size: 1vw;
  border-radius: 2vw;
  background-color: #FFD698;
  text-align: center;
}
option
{
   background-color: #FFD698;
}

.error
{
  color: red;
  font-size: 1.6vw;
}

.popup
{
  display: none;
}
