


<div *ngIf="cities && roadsData" class="map-container">
  <div class="map-frame">
<div id="map"></div>

    </div>
</div>


<aside *ngIf="isSidebarOpen" (dblclick)="close()" [@slideInOut] class="sideContainer">

  <div class="city" *ngIf="isCity">
    <img class="cityPhoto"  [src]="selectedCity.cityPhoto" >
    <div class="city"  *ngIf="isAnim" [@fadeInOut]>
    <div class="cityName" >{{selectedCity.name}}</div>
    <div class="cityRegion">{{selectedCity.region}}</div>
    <div class="cityDescription">{{selectedCity.description}}</div>
    <button class="continue"  (click)=" OpenSecondState()">Проложить маршрут</button>
      </div>
  </div>
  <div   *ngIf="!isCity" class="confirmWay">
  <div class="text">{{selectedCharacter? selectedCharacter.name:'Выберите персонажа'}}</div>
    <img class="characterAvatar" (click)="openCharacterSelection()" [src]="selectedCharacter ? selectedCharacter.appearance : defaultImg" >
    <div class="text"> Выберите транспорт</div>
 <div class="chooseTransport">
  <img *ngFor="let transport of transports; let i = index"
       [src]="transport.src"
       [alt]="transport.alt"
       [class.selected]="selectedTransport === i"
       (click)="selectTransport(i)">
  <div class="highlight" [ngStyle]="{'left.vw': highlightPosition}"></div>
</div>
    <div class="distanceContainer">
      <img class="road" src="assets/img/road.png">
      <div class="distance">
        <div class="cityTarget">{{selectedCharacter?selectedCharacter.location:''}}</div>
        <div class="distanceText" *ngIf="selectedCharacter">{{calculatedDistance}}</div>
         <div class="cityTarget">{{selectedCity.name}}</div>
      </div>
    </div>
    <div class="checkBox"></div>
    <div class="confirmButton"></div>
    <div  class="text">Примерное время поездки:</div>
    <div class="tripTime">{{tripTime}}</div>

  </div>

</aside>
  <div class="selectCharacter" *ngIf="displaySelection">
    <div class="characterContainer">
    <div class="character" (click)="setSelection(character)" *ngFor="let character of characters">
      <img class="characterAvatar" [src]="character.appearance? character.appearance: defaultCharacter" >
      <span class="text overflow">{{character.name}}</span>
    </div>
  </div>
    </div>
  <div class="background" *ngIf="displaySelection" (click)="displaySelection=false"></div>
